<nav class="data-table-pagination-container" layout="row" justify="end">
	<ul class="data-table-pagination">
		<li class="pagination-item" ng-class="{disabled: page === first(totalPages).number}">
			<span class="pagination-link" ng-click="goto(first(totalPages))">First</span>
		</li>
		<li class="pagination-item" ng-repeat="p in pages" ng-class="{active: p.number == page}">
			<span class="pagination-link" ng-click="goto(p)">{{ p.number }}</span>
		</li>
		<li class="pagination-item" ng-class="{disabled: page === last(totalPages).number}">
			<span class="pagination-link" ng-click="goto(last(totalPages))">
				Last <span ng-show="totalPages.length">({{ last(totalPages).number }})</span>
			</span>
		</li>
		<li class="pagination-item" ng-class="{disabled: page === first(totalPages).number}">
			<span class="pagination-link" ng-click="goto(prev(page))"><i class="fa fa-fw fa-chevron-left"></i></span>
		</li>
		<li class="pagination-item" ng-class="{disabled: page === last(totalPages).number}">
			<span class="pagination-link" ng-click="goto(next(page))"><i class="fa fa-fw fa-chevron-right"></i></span>
		</li>
	</ul>

	<!-- <select ng-model="current" ng-change="updateOld()" ng-options="('goto: ' + num) for num in allpages" class="form-control page-picker"></select> -->
</nav>