// Main colors
colorScheme = 'flat'

if(colorScheme == 'material')
	color-primary                     = #3F51B5
	color-danger                      = #DD0000
	color-warning                     = #FF9500
	color-info                        = #00BCD4
	color-success                     = #8BC34A
	color-secondary                   = #CCCCCC
	color-dark                        = #636e75

if(colorScheme == 'pale')
	color-primary                     = saturation(#4eb2fc, 80%)
	color-danger                      = saturation(#eba692, 80%)
	color-warning                     = saturation(#eec87c, 80%)
	color-info                        = saturation(#587a92, 80%)
	color-success                     = saturation(#accf91, 80%)
	color-secondary                   = #CCCCCC
	color-dark                        = #607D8B
	
if(colorScheme == 'flat')
	color-primary                     = #3498DB
	color-danger                      = #E74C3C
	color-warning                     = #F39C12
	color-info                        = #1ABC9C
	color-success                     = #2ECC71
	color-secondary                   = #DDDDDD
	color-dark                        = #7F8C8D
	
if(colorScheme == 'fio')
	color-primary                     = #227889
	color-danger                      = #B25B66
	color-warning                     = #F6BB42
	color-info                        = #58C1BE
	color-success                     = #94D9BB
	color-secondary                   = #ECF0F1
	color-dark                        = #030820
	


// Misc colors
color-border                      = #DDDDDD
color-clickable                   = color-primary//#007AFF
color-clickable-hover             = lighten(color-clickable, 25%)
color-tertiary                    = #19282d
color-body-bg                     = whitesmoke
color-frame-bg                    = whitesmoke

// Sidebar colors
color-sidebar-text                = #FFFFFF
color-sidebar-background          = color-primary
color-sidebar-button              = rgba(#fff, 0.1)
color-sidebar-highlight           = rgba(#000, 0.3)
color-sidebar-border              = #222222
color-sidebar-hover               = rgba(#fff, 0.1)

// Breadcrumbs colors
color-breadcrumbs-background      = color-page-header-background
color-breadcrumbs-text            = color-page-header-text
color-breadcrumbs-delimiter       = #AAAAAA
color-breadcrumbs-link            = color-clickable
color-breadcrumbs-hover           = color-clickable-hover
color-breadcrumbs-border          = whitesmoke //color-page-header-border

// Page header colors
color-page-header-background      = whitesmoke
color-page-header-text            = #000000
color-page-header-border          = rgba(#000, 0) //rgba(#000, 0.05)
color-page-header-button          = rgba(#000, 0.5)
color-page-header-button-hover    = rgba(#000, 0.2)
color-page-header-count-bg        = #CCCCCC
color-page-header-count-text      = color-page-header-background

// Page content colors
color-page-content-background     = whitesmoke

// Page Section colors
color-page-section-background     = #FFFFFF
color-page-section-text           = #000000
color-page-section-border         = #DDDDDD
color-page-dates-background       = #EEEEEE

// Info Table colors
color-info-table-property         = #AAAAAA

// Data Table colors
color-ice-table-th-background    = #EEEEEE
color-ice-table-border           = #DDDDDD
color-ice-table-cell             = #FFFFFF

// Panel colors
color-panel-background            = #FFFFFF
color-panel-border                = color-panel-background//#ccc

// Form colors
color-form-border-highlight       = color-primary
color-form-border-hover           = color-info
color-form-icon                   = #333333

// Sticky filter colors
color-filter-background           = #FFFFFF
color-filter-text                 = #000000
color-filter-icon                 = color-filter-text
color-filter-placeholder          = rgba(#000, 0.4)
color-filter-border               = #DDDDDD
color-filter-nomatch              = color-danger
color-filter-active-background    = color-success
color-filter-active-text          = #FFFFFF
color-filter-active-icon          = color-filter-active-text
color-filter-active-placeholder   = rgba(#fff, 0.4)
color-filter-active-border        = transparent

// Booking date colors
color-pickup-bg                   = rgba(color-info, 0.7)
color-due-bg                      = rgba(color-danger, 0.7)
color-date-text                   = #FFFFFF

// ui.select colors
color-select-background           = #FFFFFF
color-select-color                = #55595c
color-select-text                 = #55595c
color-select-border               = #CCCCCC
color-select-highlight            = color-warning
color-select-border-highlight     = color-info
color-select-icon                 = #999999
color-select-icon-highlight       = color-primary

// ui.bootstrap datepicker
color-date-disabled               = color-danger

// Loader colors
color-loader-bg                   = rgba(#FFFFFF, 1)
color-loader-icon                 = #000

// Advanced Filter colors
color-adv-bg                      = #EEEEEE
color-adv-text                    = #000000
color-adv-heading                 = #DDDDDD
color-adv-border                  = #CCCCCC
color-adv-divider                 = #555555
color-adv-section                 = #444444

// Pagination colors
color-pagination-highlight        = color-tertiary

// Dialog box (used for logout timer)
color-dialog-backdrop             = rgba(#000, 0.2)
color-dialog-content-bg           = #FFFFFF
color-dialog-text                 = #000000

// Dropdown2
color-dropdown2-itemBackground = #fff
color-dropdown2-itemHover = #eee
color-dropdown2-KeyboardFocusOutline = color-primary
color-dropdown2-supressKeyboardFocusOutline = lighten(color-primary, 80%)