border-rad = 3px
body-rad = 0
button-rad = 3px

font-stack = 'Source Sans Pro', 'Helvetica Neue', Helvetica, sans-serif

body-padding = 0 // 2em

transition-time = 0.1s
animation-fade-in-speed = 0.5s

// the height of the sidebar header and the page header
top-height = 100px

// standard row height. Used for sidebar, breadcrumbs and filter
row-height = 45px

// breakpoint small
bp-sm = 40em

// breakpoint medium
bp-md = 64em

// breakpoint large
bp-lg = 90em