<div class="ice-table">
	<div class="ice-table-pagination" layout="row" justify="between" align="center">
		<label>
			Show 
			<select ng-model="data.limit" ng-options="value for value in limits" class="ice-table-limit-select"></select>
			 Entries
		</label>
		<pagination page="data.page" data="filtered" limit="data.limit"></pagination>
	</div>

	<table class="table table-hover">
		<thead>
			<tr>
				<th class="button-col" ng-if="data.buttons.length"></th>
				<th ng-click="sort()" ng-repeat="col in cols track by $index" ng-if="!data.disableSort">
					<span class="sorter" ng-class="{'sorter-active': col.sorter.dir}" ng-click="col.sorter.switch()" layout="row" justify="between">
						{{ col.name }}
						 <span class="sorter-icon">
							<i class="fa fa-sort"      ng-if="!col.sorter.dir"></i>
							<i class="fa fa-sort-desc" ng-if="col.sorter.dir == '-'"></i>
							<i class="fa fa-sort-asc"  ng-if="col.sorter.dir == '+'"></i>
						</span>
					</span>
				</th>
				<th ng-repeat="col in cols track by $index" ng-if="data.disableSort">
					{{ col.name }}
				</th>
			</tr>
			<tr ng-if="!data.disableFilters">
				<td ng-if="data.buttons.length"></td>
				<td ng-repeat="col in cols track by $index">
					<span ng-if="col.filter.type === 'dropdown2'">
						<dropdown2 ng-model="col.filter.value" items="col.filter.items" config="col.filter.config"></dropdown2>
					</span>
					<span ng-if="col.filter.type === 'string'">
						<input type="text" class="form-control form-control-sm" ng-model="col.filter.value" placeholder="Filter...">
					</span>
				</td>
			</tr>
		</thead>

		<tr ng-repeat="item in filtered | page: data.page : data.limit as paged">
			<td class="button-col" ng-if="data.buttons.length">
				<a href="/{{ data.slug }}/{{ item.id }}" ng-if="buttons.view"><i class="fa fa-fw fa-eye"></i></a>
				<a href="/{{ data.slug }}/{{ item.id }}/edit" ng-if="buttons.edit"><i class="fa fa-fw fa-pencil"></i></a>
			</td>
			<td ng-repeat="col in cols">
				<span class="ice-table-indicator" ng-if="col.indicator(item)" ng-style="{'background-color': col.indicator(item)}"></span>
				 {{ item[col.name] }} 
			</td>
		</tr>

		<tr ng-if="!paged.length" class="no-records">
			<td colspan="{{ cols.length + (data.buttons.length ? 1 : 0)}}">
				No records to show
			</td>
		</tr>
	</table>

	<div class="ice-table-count" layout="row" justify="between" align="start">
		<div>
			<p>Displaying <b>{{ filtered.indexOf(paged[0]) + 1 }}</b> - <b>{{ filtered.indexOf(paged[paged.length - 1]) + 1 }}</b> out of <b>{{ filtered.length }}</b> entries</p>
			<p ng-if="filtered.length !== data.items.length">(<b>{{ data.items.length - filtered.length }}</b> {{ data.items.length - filtered.length === 1 ? 'entry' : 'entries' }} hidden by filters)</p>
		</div>
		<pagination page="data.page" data="filtered" limit="data.limit"></pagination>
	</div>

	

</div>