@import '~styles/vars'

body
	font-family font-stack
	background color-body-bg
	margin 0em

.ns-dropdown2
	max-width 200px

.page-content
	margin 0 1.6em

.page-header
	padding 3em 1.6em 2.5em

.btn-icon .fa
	margin-right 1em

.btn
	-webkit-font-smoothing antialiased